*.o
*.a
*_test
*_bench
*_debug
*_tune
*.prof
*.out
*.log
src/*_tune.c
tmp/
doc/
inc/blst.h*
inc/blst_aux.h*
.vscode/
*.json
.clang-format

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
